.navbar{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.navbar.logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #495E57;
    font-size: 20px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.basket{
    width: 40px;
}

