@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Markazi Text;
  }
  body{
    min-height: 100vh;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  

  button{
    background-color: #F4CE14;
    color: #495E57;
    font-size: 16px;
    border: 1px solid #495E57;
    padding: 10px 30px;
    border-radius: 8px;
    cursor: pointer;
    transform: 0.3sec;
}
button:hover{
    background-color: #495E57;
    color: #EDEFEE;
}